.upload-zone {
  margin: 0 auto;
  width: 100%;
  max-width: 400px; /* 限制最大宽度 */
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: border 0.3s ease-in-out;
  position: relative; /* 让子元素（如图片）居中 */
}

/* 拖拽时的高亮边框 */
.upload-zone.drag-over {
  border-color: #007bff;
  /*background-color: #eef6ff;*/
}

/* 选择按钮 */
.select-file-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.select-file-btn:hover {
  background-color: #0056b3;
}

/* 预览上传的图片 */
.uploaded-image {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

/* 隐藏默认的文件输入框 */
input[type="file"] {
  display: none;
}
